:root {
    --zinc-950: #09090b;
    --zinc-800: #2a2a2a;
    --zinc-600: #4b5563;
    --zinc-400: #a1a1aa;
    --zinc-200: #e4e4e7;
    --zinc-50: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}